.new-todo {
    background-color: #e2efde;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-todo button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #90d08a;
    background-color: white;
    color: #97dc91;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-todo button:hover,
.new-todo button:active {
    background-color: #33ab34;
    border-color: #90d08a;
}

.new-todo button.alternative {
    color: #33ab34;
    border-color: transparent;
    background-color: transparent;
}

.new-todo button.alternative:hover,
.new-todo button.alternative:active {
    background-color: #ddb3f8;
}