.todo-filter {
    color: #444444;
    font-size: 1.2rem;
    padding: 0 1.5rem;
}

.todo-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.todo-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #777777;
}

.todo-filter select {
    font: inherit;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    background-color: #f8f3f3;
    color: #444444;
    border: 1px solid #d9cfcf;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.todo-filter select:focus {
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #bd9f9f;
}
