.todo-item {
    background-color: #f7e7e9;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
}

.todo-item__description {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.todo-item__description h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #5b373a;
}

.todo-item__priority {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #7d4e57;
}

.todo-date {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #7d4e57;
}
