.todo-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: #444444;
}

.todo-date__month {
    font-weight: bold;
    color: #d1a3b8;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.todo-date__day {
    font-size: 3rem;
    font-weight: bold;
    color: #cc7e99;
    margin-top: 0.3rem;
}

.todo-date__year {
    font-size: 1.2rem;
    color: #a6c3b7;
    margin-top: 0.3rem;
}
